@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  padding-left: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 25px;
}

.message-box {
  width: 923px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.08);
  margin-left: 114px;
  margin-top: 15px;
}

.ant-menu{

  border-inline-end: none !important;
  background: transparent !important;
  color: #535563 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-menu-item{
  width: 240px !important;
  height: 48px !important;
  line-height: 48px !important;
  border-radius: 10px !important;
  margin: 0 0 12px 0 !important;
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 20px !important;
}

.ant-menu-submenu-title{
  width: 240px !important;
  height: 48px !important;
  line-height: 48px !important;
  border-radius: 10px !important;
  margin: 0 0 12px 0 !important;
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 20px !important;
}

.ant-menu-title-content{
  font-size: 12px !important;
}

.ant-menu-item-selected{
  background-color: #DEE2E9 !important;
  color: #000000 !important;
}

.ant-menu-submenu-selected >.ant-menu-submenu-title{
  background-color: #DEE2E9 !important;
  color: #000000 !important;
}

.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #EDEFF2 !important;
}

.ant-menu-item:not(.ant-menu-item-disabled):focus-visible{
  outline: #EDEFF2 !important;
}

.ant-menu-title-content{
  margin-left: 17px;
}

.ant-menu-submenu-popup::before{
  display: none; 
}


.ant-menu-submenu-popup{
  background: #F4F6FA !important;
  color: #535563 !important;
  padding-inline-start: 0 !important;
  border: 1px solid #DEE2E9;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-menu-sub{
  background: #F4F6FA !important;
  padding: 13px 12px !important;
}

.ant-menu-submenu-hidden{
  display: none !important;
}

.ant-layout{
  background-color: #F4F6FA !important;
}

.ant-layout-header{
  height: 80px !important;
  background: transparent !important;
  padding: 0 36px 0 44px;
}

.ant-layout-sider{
  background: transparent !important;
  flex: 1 1 256px !important;
  max-width: 256px !important;
  min-width: 256px !important;
  width: 256px !important;
}

.ant-layout-sider-children{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
}

.ant-select-multiple .ant-select-selection-item-content{
  display: flex !important;
  align-items: center !important;
  font-size: 9px !important;
  color: #000000 !important;
}

.ant-select-multiple .ant-select-selection-item {
  height: auto !important;
  line-height: 1 !important;
  padding: 5px 10px !important;
  font-size: 10px !important;
}

.ant-select-selector .ant-select-selection-placeholder, .ant-select-selector .ant-select-selection-item {
  font-size: 10px !important;
}

.ant-select-item-option-content {
  font-size: 10px !important;
}

.ant-select-suffix {
  font-size: 9px !important;
}

.ant-menu-submenu-arrow {
  width: 10px !important;
}

