@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  padding-left: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 25px;
}

.social-div{
  width: 83.267px;
  height: 101.93px;
  flex-shrink: 0;
  border-radius: 6.534px;
  border: 1.307px solid #DBDBDB;
  margin-right: 10px;
}

.custom-div{
  background: linear-gradient(90deg, #5B63DF 0%, #5BC7DF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6px;
}

.custom-div-text{
  background: linear-gradient(90deg, #5B63DF 0%, #5BC7DF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-box {
  width: 930px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.08);
  margin-left: 72px;
  margin-top: 16px;
}

.message-profile{
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.modal-text{
  background: linear-gradient(90deg, #9C34AB -0.02%, #4F6BE8 47.92%, #14B8BC 100.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "PingFang SC Regular";
  font-size: 13px !important;
}

.ant-btn:hover{
  border: transparent !important;
  outline: transparent !important;
  color: #555555 !important;
}

.ant-switch{
  width: 38px !important;
  height: 22px !important;
  display: flex !important;
  align-items: center !important;
  margin-top: 10px !important;
}

.ant-switch-handle{
  width: 12px !important;
  height: 12px !important;
  align-self: center !important;
}

.ant-switch-checked .ant-switch-handle::before{
  background: #4F6BE8 !important;
}

.ant-switch:not(.ant-switch-checked) .ant-switch-handle::before {
  background: #DBDBDB !important;
}

.ant-switch:not(.ant-switch-checked) {
  background: #F4F6FA !important;
  border: 1px solid #DBDBDB !important;
}

.ant-switch-checked .ant-switch-handle {
  margin-left: -4px !important; 
}

.ant-switch-checked{
  border: 1px solid #4F6BE8 !important;
  background: #F4F6FA !important;
}

.ant-switch:not(.ant-switch-checked) .ant-switch-handle {
  margin-left: 4px !important; 
}

.ant-menu-title-content{
  font-family: 'PingFang SC Regular';
  font-size: max(1em, 14px);
  margin-left: 17px;
}

.ant-menu{
  border-inline-end: none !important;
  background: transparent !important;
  color: #535563 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-menu-item{
  width: 240px !important;
  height: 48px !important;
  line-height: 48px !important;
  border-radius: 10px !important;
  margin: 0 0 12px 0 !important;
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 20px !important;
  color: white;
}

.ant-menu-item-selected .ant-menu-item:hover .ant-menu-submenu:hover .ant-menu-item:not(.ant-menu-item-selected):hover{
  color: white !important;
}

.ant-menu-item:not(.ant-menu-item-selected):hover{
  color: white !important;
}

/* .ant-menu-item-only-child{
  color: black !important;
}

.ant-menu-submenu-vertical{
  color: black !important;
} */

.ant-menu-submenu-title{
  width: 240px !important;
  height: 48px !important;
  line-height: 48px !important;
  border-radius: 10px !important;
  margin: 0 0 12px 0 !important;
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 20px !important;
  color: white;
}


.ant-menu-item-selected{
  background-color: #E7E7E7 !important;
  color: #4F6BE8 !important;
}

.ant-menu-submenu-selected >.ant-menu-submenu-title{
  background-color: #E7E7E7 !important;
  color: #4F6BE8 !important;
}

.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #EDEFF2 !important;
}

.ant-menu-item:not(.ant-menu-item-disabled):focus-visible{
  outline: #EDEFF2 !important;
}


.ant-menu-submenu-popup::before{
  display: none; 
}

.ant-menu-submenu-popup{
  background: #242462 !important;
  color: #4F6BE8 !important;
  padding-inline-start: 0 !important;
  /* border: 1px solid #DEE2E9; */
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 0px 6px 0px 0px;
}

.ant-menu-sub{
  /* background: #E7E7E7 !important; */
  padding: 13px 12px !important;
  color: #535563
}

.ant-menu-submenu-hidden{
  display: none !important;
}

.ant-layout{
  background-color: #F4F6FA !important;
}

.ant-layout-header{
  height: 80px !important;
  background: #250F53 !important;
  padding: 0 36px 0 44px;
}

.ant-layout-sider{
  background: linear-gradient(356deg, #21608D 0.15%, #23336D 36.53%, #250F53 97.43%) !important;
  flex: 1 1 256px !important;
  max-width: 256px !important;
  min-width: 256px !important;
  width: 256px !important;
}

.custom-select .ant-select-selector {
  min-height: 36px;
}

.ant-layout-sider-children{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
}

.ant-select-multiple .ant-select-selection-item-content{
  display: flex !important;
  align-items: center !important;
  font-size: 9px !important;
  color: #000000 !important;
  font-family: 'PingFang SC Regular' !important;
}

.ant-select-multiple .ant-select-selection-item {
  height: auto !important;
  line-height: 1 !important;
  padding: 5px 10px !important;
  font-size: 10px !important;
  font-family: 'PingFang SC Regular' !important;
}

.ant-select-selector .ant-select-selection-placeholder, .ant-select-selector .ant-select-selection-item {
  font-size: max(0.8em, 12px);
  font-family: 'PingFang SC Regular' !important;
}

.ant-select-item-option-content {
  font-size: 10px !important;
  font-family: 'PingFang SC Regular' !important;
}

.ant-select-suffix {
  font-size: 9px !important;
}

.ant-menu-submenu-arrow {
  width: 10px !important;
}

.ant-input-number-input {
  font-family: 'PingFang SC Regular' !important;
}

.ant-input{
  font-family: 'PingFang SC Regular' !important;
  font-size: max(0.8em, 12px);
  resize: none !important;
}

.css-dev-only-do-not-override-2i2tap .ant-switch-handle {
  top: 0 !important;
  margin-top: 4px !important;
}

.number_modal{
  width: 600px !important;
  height: 500px !important;
  justify-content: center;
  padding: 40px 60px !important;
}

.files_modal{
  width: 1091px !important;
  /* height: 583px !important; */
  padding: 40px 60px !important;
  align-self: center !important;
}

.qa_modal{
  width: 1080px !important;
  /* height: 583px !important; */
  padding: 40px 60px !important;
  align-self: center !important;
}

.input-otp__field{
  /* width: 40px !important;
  height: 30px !important; */
  border-width: 1px;
  border-color: #707070;
}

.text {
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.ellipse{
  width: 11px;
  height: 11px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #FA4848;
  position: absolute;
  top: -3px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-text{
  background: linear-gradient(90deg, #9C34AB -0.02%, #4F6BE8 47.92%, #14B8BC 100.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand_model{
  width: 680px !important;
  /* height: 583px !important; */
  padding: 40px 60px !important;
  align-self: center !important;
}